
/*메인 제외 서브페이지에 적용 될 배경 컬러*/

body,html {
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard';
}

ul , li , a {
    text-decoration: none;
    color: initial;
    list-style: none;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family:'Pretendard';
    font-weight:100;
    src:url('../font/Pretendard-Thin.woff2') format('woff2')
}
@font-face{
    font-family:'Pretendard';
    font-weight:300;
    src:url('../font/Pretendard-Light.woff2') format('woff2')
}
@font-face{
    font-family:'Pretendard';
    font-weight:400;
    src:url('../font/Pretendard-Regular.woff2') format('woff2')
}
@font-face{
    font-family:'Pretendard';
    font-weight:500;
    src:url('../font/Pretendard-Medium.woff2') format('woff2')
}
@font-face{
    font-family:'Pretendard';
    font-weight:600;
    src:url('../font/Pretendard-Bold.woff2') format('woff2')
}
@font-face{
    font-family:'Pretendard';
    font-weight:700;
    src:url('../font/Pretendard-ExtraBold.woff2') format('woff2')
}

.flex_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 !important;
}
.f_blue {
    color: #86f8ff !important;
}

.f_500 {
    font-weight: 500;
}

.row {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main_side_padding {
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*border: 1px solid #071C30;*/
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    box-shadow: #071C30 0 0 6px 2px;
    background-color: #071C30;


    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.top_btn:hover {
    bottom: 25px;
    box-shadow: #86f8ff 0 0 6px 2px;
}
