
header {
    width: 100%;
    height: 90px;
    /*max-height: 100px;*/
    /*padding-top: 20px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background: rgba(0, 0, 0, 0.8);*/
    background-color: transparent !important;
    position: absolute;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    transition: background-color 0.3s
}

header >.row {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    align-items: center !important;
    justify-content: space-between !important;
}

header .scroll {
    background-color: #071C30; /* 스크롤 시 배경색 변경 */
}

#logo {
    width: 95px;
}

#logo > a {
    /*width: 150px !important;*/
    /*height: initial !important;*/
}

#logo > a > img {
    width: 100%;
    height: 100%;
}


.menu_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#gnb {
    width: 100%;
    display: flex;
    align-items: center;
    /*margin-left: 25%;*/
    justify-content: flex-end;
}

#gnb > ul.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#gnb > ul > li{

    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gnb > ul > li > a{
    /*display: inline-block;*/
    /*width: 180px;*/
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 1.7rem;
}


header .bar {
    width: 1px;
    height: 15px;
    border: 1px solid #ffffff;
    margin-right: 5px;
}

header .login {
    width: 120px;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-size: 1.7rem;
}

header .login > a {
    color: white;
    transition: ease-in-out 0.1s;
}

header .login a:hover {
    color: #86f8ff !important;
}

.snb_area {
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top:90px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.snb_area .snb_bg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
    padding-top: 30px;
    transition: ease-in-out 1s;
}
.snb_area .snb_bg ul:last-child {
    width: 100px;
}

.snb_area .snb_bg .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.snb_area.navi {
    animation: slider 0.5s;
    animation-fill-mode: forwards;
}

.snb_area.navi2 {
    animation: slider2 0.5s;
}

.snb_area h2 {
    width: 200px;
}
.snb_area ul {
    width: 120px;
}
.snb_area ul > li{
    text-align: center;
    padding: 5px 0;
    white-space: nowrap;
}
.snb_area ul > li> a{
    margin-top: 7px;
    color: #ffffff;
    transition: all 0.2s;
    font-size: 1.4rem;
}
.snb_area ul > li> a:hover {
    color: #86f8ff;
}
    @keyframes slider{
    from{height: 0px;
    }to{height: 150px;}
}

    @keyframes slider2{
    from{height: 150px;
    }to{height: 0px;}
}


/*sub menu start*/

.sub_wrap {
    width: 100vw;
    /*max-width: 1200px;*/
    display: flex;
    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 60px;

    position: absolute;
    top: 30px;
    right: -51px;
    display: none;
}

.sub_wrap  .sub_menu_wrap {
    display: flex;
    flex-direction: row;
}

.sub_wrap  .sub_menu_wrap .sub {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.sub_wrap  .sub_menu_wrap .sub .s_menu {
    font-size: 1.5rem;
    padding: 5px 0;
    cursor: pointer;
}

.sub_wrap  .sub_menu_wrap .sub .s_menu a {
    color: #ffffff;
    transition: ease-in-out all 0.1s;
}

.sub_wrap  .sub_menu_wrap .sub .s_menu:hover a {
    color: #86f8ff;
}

/*sub menu end*/



.mobile-wrap {
    display: flex;
    justify-content: flex-end;
    display: none;
}



#check_box {
    display: none;
    right:1px;
}

#check_box + label {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 2;

}

#check_box + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all 300ms;
}


#check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
}

#check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

#check_box:checked + label > span:nth-child(2) {
    opacity: 0;
}

#check_box + label > span:nth-child(3) {
    bottom: 0;
}

#check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
}

.side_menu {
    position: fixed;
    width: 60vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    right: -100vw;
    transition: all 300ms;
    z-index: 1;
    top: 0px;
    padding: 100px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 17px;
}


#check_box:checked + label + .side_menu {
    right: 0;
}

.side_menu .m-login {
    margin-bottom: 20px;
    transition: ease-in-out 0.1s;
}

.side_menu .m-login a {
    color: #ffffff;
    font-size: 1.6rem;
}

.side_menu .m-login a:hover {
    color: #86f8ff;
}



.side_menu .mobile_menu {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: ease-in-out 0.1s;
    font-size: 1.7rem;
    margin-right: 20px !important;


}

.mobile_menu:after{
    content: '\002B';
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.mobile_menu.active:after {
    content: "\2212";
}

.mobile_menu:hover {
    color: #86f8ff;
}

.mobile_sub_wrap {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.4rem;
    width: 100%;
}

.mobile_sub_wrap > div {
    padding: 10px 0 10px 20px;
    cursor: pointer;
}

.mobile_sub_wrap > div a {
    color: #ffffff;
}

.mobile_sub_wrap > div a:hover {
    color: #86f8ff;
}














/*반응형*/

@media (max-width: 1200px) {
    header {
        padding: 10px;
    }
}


@media (max-width: 960px)  {

    html, body {
        /*overflow-x: hidden;*/
    }
    header .menu_wrap {
        display: none !important;
    }

    .mobile-wrap {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    header .row {}
}

@media (max-width: 540px) {
    header {
        /*padding: 20px;*/
    }
}

