
header {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    position: absolute;
    z-index: 10;
}

header >.row {
    max-width: 1200px;
    align-items: center;
}

.menu_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    /*width: 200px;*/
    /*height: 100%;*/
    /*margin-right: 200px;*/
    box-sizing: border-box;
}

#logo > a {
    width: 100%;
    height: 100%;
}

#logo > a > img {
    width: 100%;
    height: 100%;
}

#gnb {
    width: 100%;
    display: flex;
    align-items: center;
    /*margin-left: 25%;*/
    justify-content: flex-end;
}

#gnb > ul.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#gnb > ul > li{

    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gnb > ul > li > a{
    /*display: inline-block;*/
    /*width: 180px;*/
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 1.7rem;
}


header .bar {
    width: 1px;
    height: 15px;
    border: 1px solid #ffffff;
    margin-right: 5px;
}

header .login {
    width: 120px;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-size: 1.7rem;
    color: white;
}

header .login:hover {
    color: #86f8ff;
}


header > .snb_area {
    width: 100vw;
    /*max-width: 1200px;*/
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
header > .snb_area .snb_bg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;

    padding-top: 20px;
}
header > .snb_area .snb_bg .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header > .snb_area.navi {
    animation: slider 0.5s;
    animation-fill-mode: forwards;
}

header > .snb_area.navi2 {
    animation: slider2 0.5s;
}

header > .snb_area h2 {
    width: 200px;
}

header > .snb_area ul {
    /*padding-right: 55px;*/
    padding: 0 23px;
}
header > .snb_area ul > li{
    text-align: center;
    padding: 5px 0;
    white-space: nowrap;
}

header > .snb_area ul > li> a{
    margin-top: 7px;
    color: #ffffff;
    transition: all 0.2s;
    font-size: 1.4rem;
}

header > .snb_area ul > li> a:hover {
    color: #86f8ff;
}
@keyframes slider{
    from{
        height: 0px;
    }to{
         height: 150px;
     }
}

@keyframes slider2{
    from{
        height: 150px;
    }to{
         height: 0px;
     }
}


/*sub menu start*/

.sub_wrap {
    width: 100vw;
    /*max-width: 1200px;*/
    display: flex;
    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 60px;

    position: absolute;
    top: 30px;
    right: -51px;
    display: none;
}

.sub_wrap  .sub_menu_wrap {
    display: flex;
    flex-direction: row;
}

.sub_wrap  .sub_menu_wrap .sub {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.sub_wrap  .sub_menu_wrap .sub .s_menu {
    font-size: 1.5rem;
    padding: 5px 0;
    cursor: pointer;
}

.sub_wrap  .sub_menu_wrap .sub .s_menu a {
    color: #ffffff;
    transition: ease-in-out all 0.1s;
}

.sub_wrap  .sub_menu_wrap .sub .s_menu:hover a {
    color: #86f8ff;
}

/*sub menu end*/







/*ham menu menu start*/

.ham_menu_wrap {
    width: 100%;
    display: none !important;
    /*display: flex;*/
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.ham_menu .ham_bar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    transition: all 0.3s;
    position: relative;

    cursor: pointer;
}

.ham_menu .ham_bar:hover {
    background-color: #868686;
}

.ham_menu .ham_bar span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 35px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

.ham_menu .ham_bar span:nth-child(1) {
    top: 10px;
}

.ham_menu .ham_bar span:nth-child(2) {
    top: 20px;
}

.ham_menu .ham_bar span:nth-child(3) {
    top: 30px;
}

.ham_menu .ham_bar.active span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.ham_menu .ham_bar.active span:nth-child(2) {
    opacity: 0;
}
.ham_menu .ham_bar.active span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

/*ham menu menu end*/



/*mobile_menu_start*/

.mobile_menu_list {
    position: absolute;
    top: 0;
    right: 1px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: flex-start;*/
    height: 100vh;
    z-index: 10;
    padding: 100px 30px 30px 30px;

    display: none;
}

.mobile_menu_list .mobile_menu_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.mobile_menu_list .mobile_menu_wrap > div {
    padding: 10px 0;
}

.mobile_menu_list .mobile_menu_wrap .mobile_menu {}

.mobile_menu_list .mobile_menu_wrap .mobile_menu .menu_name {}

.mobile_menu_list .mobile_menu_wrap .mobile_menu .arrow {}

.mobile_menu_list .mobile_menu_wrap .mobile_sub_wrap {}

.mobile_menu_list .mobile_menu_wrap {}






/*mobile_menu_end*/













/*반응형*/

@media (max-width: 1200px) {
    header {
        padding: 30px;
    }
}


@media (max-width: 960px)  {
    .menu_wrap {
        display: none !important;
    }

    .ham_menu_wrap {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    header .row {
        width: 130px;
    }
}

@media (max-width: 540px) {
    header {
        padding: 20px;
    }
}

