
/*메인 인덱스에만 적용 될 컬러*/
body,html {
    background-color: black !important;
    color: white;
}

/*banner start*/

.banner_contents_wrap {
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: cover;
    background-position: center;
    /*margin-bottom: 50px;*/
    position: relative;
    /*margin-bottom: -25vh;*/
}



.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;

    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;

    /* size */
    width: 100%;

    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
}
.slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;

    /* size */
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: 400px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데,
    슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;

    /* transition */
    transition: left 0.15s;
}
.slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);

    /* size */
    width: 32px;
    height: 32px;

    /* style */
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;

    display: none;
}

.slide_prev_button {
    left: 10px;
}
.slide_next_button {
    right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */

.slide_item::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(7, 28, 48, 0.6);
}

.slide_item > img {
    width: 100%;
    height: inherit;
}
/* 페이지네이션 스타일 */
/*ul,*/
/*li {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
}
.slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 2.5rem;
}
.slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
}

.slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
}
/*banner end*/



.main_cont {
    width: 100%;
    height: 100%;
    margin-top: 140px;
    position: absolute;
    top: 25%;
    left: -50%;
    transform: translate(50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_cont .main_cont_tit {
    font-size: 3rem;
}

.main_cont .main_cont_sub_tit {
    font-size: 5.5rem;
    margin-bottom: 30px;
    color: #86f8ff;
}

.main_cont .text_center {
    align-content: center;
}

.main_cont .text_center p {
    margin: 0 0 5px 0;
    font-size: 1.6rem;
}


/*chart content start*/

.top_cont {
    max-width: 1200px;
    width: 100%;
    height: 400px;
    /*margin: 0 auto;*/
    margin: 50px auto 50px auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*background-color: rgba(221, 221, 221, 0.26);*/
}

.top_cont .ban {
    width: 70%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_cont .field_wrap {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*column-gap: 10px;*/
    justify-content: space-between;
}

.top_cont .field_wrap .field_menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    border-bottom: 1px solid #86f8ff;
    cursor: pointer;
    transition: ease-in-out all 0.1s;
    font-size: 1.5rem;
}

.top_cont .field_wrap .field_menu .chart {
    position: absolute;
    top: 30px;
    right: 400px;
    width: 730px;
    height: 363px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

/*
.top_cont .field_wrap .field_menu .chart1 {
    background-image: url("./img/ex_chart1.png");
}

.top_cont .field_wrap .field_menu .chart2 {
    background-image: url("./img/ex_chart2.png");
    top: -30px;
}
*/

.top_cont .field_wrap .field_menu:last-child {
    border-bottom: none;
}

.top_cont .field_wrap .field_menu:hover,
.top_cont .field_wrap .field_menu.on {
    color: #86f8ff;
}

.top_cont .field_wrap .field_menu.on .chart {
    display: block;
}

/*
.top_cont .field_wrap .menu2:hover .chart2 {
    display: flex;
}

.top_cont .field_wrap .menu2:hover .menu1> .chart1 {
    display: none !important;
}
*/

/*chart content end*/


/*curriculum content start*/

.center_cont {
    width: 100%;
    height: 500px;
    background-image: url("../img/cont_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    padding: 90px 0;
}

.center_cont .center_wrap {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.center_cont .center_wrap .curriculum_wrap {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center_cont .center_wrap .curriculum_wrap .curri_title {
    color: #86f8ff;
    font-size: 3.6rem;
    /*margin-bottom: 30px;*/
}

.center_cont .center_wrap .curriculum_wrap .curri_text_wrap {
    white-space: break-spaces;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.center_cont .center_wrap .curriculum_wrap .curri_text {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center_cont .center_wrap .curriculum_wrap .curri_text p {
    font-size: 1.4rem;
}

.center_cont .center_wrap .curriculum_wrap .curri_btn {
    width: fit-content;
    padding: 10px 30px;
    border: 1px solid #86f8ff;
    background: #86f8ff;
    color: black;
    border-radius: 8px;
    /*margin-top: 50px;*/
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out all 0.1s;
}

.center_cont .center_wrap .curriculum_wrap .curri_btn:hover {
    background-color: black;
    color: #86f8ff;
}

.center_cont .center_wrap .curriculum_wrap {}

.center_cont .center_wrap .curriculum_info {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
    margin: 50px 0;
}

.center_cont .center_wrap .curriculum_info .info_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 64px;
    border: 1px solid #86f8ff;
    border-radius: 8px;
    color: #86f8ff;
    transition: ease-in-out all 0.1s;
    cursor: pointer;
    white-space: nowrap;

    font-size: 1.5rem;
}

.center_cont .center_wrap .curriculum_info .info_box .icon_box {
    width: 45px;
    height: 100%;
}

.center_cont .center_wrap .curriculum_info .info_box:hover {
    background-color: #86f8ff;
    color: black;
}

.center_cont .center_wrap .curriculum_info .info_box .icon_box .curri_icon {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: right;
    transition: ease-in-out all 0.1s;
    background-size: contain !important;
}

.center_cont .center_wrap .curriculum_info .info_box .icon_box .curri_icon.icon1 {
    background-image: url("../img/ShowChart.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box1:hover .icon1 {
    background-image: url("../img/BHoverShowChart.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon2 {
    background-image: url("../img/Insights-1.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box2:hover .icon2 {
    background-image: url("../img/BHoverInsights-1.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon3 {
    background-image: url("../img/Insights.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box3:hover .icon3 {
    background-image: url("../img/BHoverInsights.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon3 {
    background-image: url("../img/Insights.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box3:hover .icon3 {
    background-image: url("../img/BHoverInsights.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon4 {
    background-image: url("../img/Memory.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box4:hover .icon4 {
    background-image: url("../img/BHoverMemory.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon5 {
    background-image: url("../img/Computer.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box5:hover .icon5 {
    background-image: url("../img/BHoverComputer.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon6 {
    background-image: url("../img/Wifi.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box6:hover .icon6 {
    background-image: url("../img/BHoverWifi.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon7 {
    background-image: url("../img/Cloud.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box7:hover .icon7 {
    background-image: url("../img/BHoverCloud.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon8 {
    background-image: url("../img/DirectionsCar.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box8:hover .icon8 {
    background-image: url("../img/BHoverDirectionsCar.png");
}

.center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon9 {
    background-image: url("../img/security.png");
}

.center_cont .center_wrap .curriculum_info .info_box.box9:hover .icon9 {
    background-image: url("../img/BHoversecurity.png");
}

/*curriculum content end*/


/*notice content start*/

.bottom_cont {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
}

.bottom_cont .title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.bottom_cont .board_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
}

.bottom_cont .board_wrap .notice_wrap {
    width: 32%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(91, 91, 91, 0.4);
}

.bottom_cont .board_wrap .notice_wrap .title_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin-bottom: 20px;
    transition: all 0.1s;
}

.bottom_cont .board_wrap .notice_wrap .title_wrap .title {
    font-size: 2rem;
    height: 100%;
    margin-bottom: 0;
    transition: all 0.1s;
}

.bottom_cont .board_wrap .notice_wrap .title_wrap .more {
    background-image: url("../img/icon_right_arrow.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
    transition: ease-in-out 0.3s;
}

.bottom_cont .board_wrap .notice_wrap .title_wrap:hover .title {
    font-weight: 600;
}
.bottom_cont .board_wrap .notice_wrap .title_wrap:hover .more {
    background-image: url("../img/icon_right_arrow_hover.png");
}

.bottom_cont .board_wrap .notice_wrap .list_wrap {
    display: flex;
    flex-direction: column;
}

.bottom_cont .board_wrap .notice_wrap .list_wrap .list_item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #868686;
    margin: 10px 0;
    cursor: pointer;
    transition: ease-in-out all 0.1s;
}


.bottom_cont .board_wrap .notice_wrap .list_wrap:hover .list_title {
    font-weight: 500;
}

.bottom_cont .board_wrap .notice_wrap .list_wrap .list_item .list_title {
    font-size: 1.5rem;
}

.bottom_cont .board_wrap .notice_wrap .list_wrap .list_item .list_date {
    font-size: 1.3rem;
    margin: 5px 0 10px 0;
    color: #868686;
}

/*notice content end*/



/*반응형*/

@media (max-width: 1200px) {
    .main_side_padding {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
    .top_cont {
        margin: 30px auto;
    }
}



@media (max-width: 1024px)  {
    .main_side_padding {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .center_cont .center_wrap .curriculum_wrap {
        width: 35%;
        margin-right: 10px;
    }
    .center_cont .center_wrap .curriculum_info {
        width: 65%;
    }
    .center_cont .center_wrap .curriculum_wrap .curri_text {
        /*font-size: 14px;*/
    }
    .center_cont .center_wrap .curriculum_info .info_box {
        padding: 5px 8px;
        height: 60px;
    }
    .center_cont .center_wrap .curriculum_info .info_box .icon_box {
        width: 40px;
    }
    .center_cont .center_wrap .curriculum_info .box_title {
        /*font-size: 14px;*/
    }
    .center_cont .center_wrap .curriculum_wrap .curri_text {
        width: 95%;
    }
    .top_cont {
        padding: 0 30px;
    }
    .top_cont .field_wrap .field_menu .chart {
        top: 110px;
        right: 280px;
        width: 450px;
    }
    .center_cont {
        height: 400px;
        padding: 50px 0;
    }
    .bottom_cont {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 960px) {
    body,html {
        font-size: 9px;
    }
}

@media (max-width: 760px) {

    body,html {
        font-size: 8px;
    }
    .main_cont {
        margin-top: 100px;
    }
    .center_cont {
        padding-top: 30px;
        padding-bottom: 30px;
        height: fit-content;
    }
    .center_cont .center_wrap .curriculum_wrap {
        height: 400px;
    }
    .center_cont .center_wrap .curriculum_info {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    body,html {
        font-size: 7px;
    }
    .main_cont {
        padding: 0 20px;
    }
    .main_cont .main_cont_tit {
        font-size: 2rem;
    }
    .main_cont .main_cont_sub_tit {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .main_cont .text_center p {
        font-size: 1.3rem;
    }
    .banner_contents_wrap {
        height: 300px;
    }
    .top_cont {
        display: none;
    }
    .main_cont .title {
        font-size: 3.5rem;
    }
    .center_cont .center_wrap {
        display: flex;
        flex-direction: column;
    }

    .center_cont .center_wrap .curriculum_wrap .curri_title {
        font-size: 3rem;
    }
    .center_cont .center_wrap .curriculum_info {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        margin: 30px 0;
    }

    .center_cont .center_wrap .curriculum_wrap {
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
    .center_cont .center_wrap .curriculum_wrap .curri_text_wrap {
        text-align: center;
        justify-content: center;
    }

    .center_cont .center_wrap .curriculum_wrap .curri_text p {
        font-size: 1.3rem;
    }
    .bottom_cont .board_wrap .notice_wrap {
        width: 48%;
    }
    .bottom_cont .board_wrap .notice_wrap:last-child {
        display: none;
    }
}

@media (max-width: 540px) {
    body,html {
        font-size: 6px;
    }
    /*.banner_contents_wrap {*/
    /*    height: 210px;*/
    /*}*/
    .center_cont .center_wrap .curriculum_info {
        grid-template-columns: repeat(2, 1fr);
    }
    .bottom_cont .board_wrap .notice_wrap {
        width: 100%;
    }
    .bottom_cont .board_wrap .notice_wrap:nth-child(2) {
        display: none;
    }
}

