body,html {
    width: 100% !important;
    margin: 0;
    padding: 0;
    background-color: black !important;
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
    flex: 1;
}
.f_blue {
    color: #86f8ff !important;
}

.f_500 {
    font-weight: 500;
}

.main_side_padding {
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.wrap {
    margin: 0 auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*header start*/
.wrap .header_cont {
    width: 100%;
    height: 600px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("./img/gr_top_img_1.png");
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: cover;
    background-position: center;
    margin-bottom: 50px;
}

.wrap .header_cont .login_nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.wrap .header_cont .login_nav >div {
    margin-left: 20px;
    font-size: 14px;
    transition: ease-in-out all 0.3s;
    cursor: pointer;
}

.wrap .header_cont .login_nav >div:hover {
    color: #86f8ff;
}

.wrap .header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrap .header .title {
    font-size: 23px;
    margin-left: 15px;
}

.wrap .header > div {
    cursor: pointer;
}

.wrap .header .menu {
    padding-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.wrap .header .menu:hover {
    color: #86f8ff;
}

.wrap .main_cont {
    margin-top: 140px;
}

.wrap .main_cont .title {
    font-size: 55px;
    margin-bottom: 30px;
}

.wrap .main_cont .text_center {
    align-content: center;
}

.wrap .main_cont .text_center p {
    margin: 0 0 5px 0;
}

/*header end*/


/*chart content start*/

.wrap .top_cont {
    max-width: 1200px;
    width: 100%;
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrap .top_cont .ban {
    width: 70%;
    height: 100%;
    margin-right: 10px;
}
.wrap .top_cont .field_wrap {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*column-gap: 10px;*/
    justify-content: space-between;
}

.wrap .top_cont .field_wrap .field_menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    border-bottom: 1px solid #86f8ff;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.wrap .top_cont .field_wrap .field_menu .chart {
    position: absolute;
    top: 0;
    right: 337px;
    width: 763px;
    height: 363px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

/*
.wrap .top_cont .field_wrap .field_menu .chart1 {
    background-image: url("./img/ex_chart1.png");
    display: block;
}

.wrap .top_cont .field_wrap .field_menu .chart2 {
    background-image: url("./img/ex_chart2.png");
    top: -50px;
}
*/

.wrap .top_cont .field_wrap .field_menu:last-child {
    border-bottom: none;
}

.wrap .top_cont .field_wrap .field_menu:hover,
.wrap .top_cont .field_wrap .field_menu.on {
    color: #86f8ff;
}

.wrap .top_cont .field_wrap .field_menu.on .chart {
    display: block;
}

/*
.wrap .top_cont .field_wrap .menu2:hover .chart2 {
    display: flex;
}

.wrap .top_cont .field_wrap .menu2:hover .menu1> .chart1 {
    display: none !important;
}
*/





/*chart content end*/


/*curriculum content start*/

.wrap .center_cont {
    width: 100%;
    height: 500px;
    background-image: url("./img/cont_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.wrap .center_cont .center_wrap {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.wrap .center_cont .center_wrap .curriculum_wrap {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap .center_cont .center_wrap .curriculum_wrap .curri_title {
    color: #86f8ff;
    font-size: 36px;
    margin-bottom: 30px;
}

.wrap .center_cont .center_wrap .curriculum_wrap .curri_text_wrap {
    white-space: break-spaces;
    width: 100%;

    background-color: #868686;
}

.wrap .center_cont .center_wrap .curriculum_wrap .curri_text {
    font-size: 15px;
    line-height: 1.5;

}

.wrap .center_cont .center_wrap .curriculum_wrap .curri_btn {
    width: fit-content;
    padding: 10px 30px;
    border: 1px solid #86f8ff;
    background: #86f8ff;
    color: black;
    border-radius: 8px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.wrap .center_cont .center_wrap .curriculum_wrap .curri_btn:hover {
    background-color: black;
    color: #86f8ff;
}

.wrap .center_cont .center_wrap .curriculum_wrap {}


.wrap .center_cont .center_wrap .curriculum_info {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
    margin: 130px 0;
}

.wrap .center_cont .center_wrap .curriculum_info .info_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 64px;
    border: 1px solid #86f8ff;
    border-radius: 8px;
    color: #86f8ff;
    transition: ease-in-out all 0.3s;
    cursor: pointer;
    white-space: nowrap;
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .icon_box {
    width: 45px;
    height: 100%;
}


.wrap .center_cont .center_wrap .curriculum_info .info_box:hover {
    background-color: #86f8ff;
    color: black;
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .icon_box .curri_icon {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: right;
    transition: ease-in-out all 0.3s;
    background-size: contain !important;
}


.wrap .center_cont .center_wrap .curriculum_info .info_box .icon_box .curri_icon.icon1 {
    background-image: url("./img/ShowChart.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box1:hover .icon1 {
    background-image: url("./img/BHoverShowChart.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon2 {
    background-image: url("./img/Insights-1.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box2:hover .icon2 {
    background-image: url("./img/BHoverInsights-1.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon3 {
    background-image: url("./img/Insights.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box3:hover .icon3 {
    background-image: url("./img/BHoverInsights.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon3 {
    background-image: url("./img/Insights.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box3:hover .icon3 {
    background-image: url("./img/BHoverInsights.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon4 {
    background-image: url("./img/Memory.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box4:hover .icon4 {
    background-image: url("./img/BHoverMemory.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon5 {
    background-image: url("./img/Computer.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box5:hover .icon5 {
    background-image: url("./img/BHoverComputer.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon6 {
    background-image: url("./img/Wifi.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box6:hover .icon6 {
    background-image: url("./img/BHoverWifi.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon7 {
    background-image: url("./img/Cloud.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box7:hover .icon7 {
    background-image: url("./img/BHoverCloud.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon8 {
    background-image: url("./img/DirectionsCar.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box8:hover .icon8 {
    background-image: url("./img/BHoverDirectionsCar.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box .curri_icon.icon9 {
    background-image: url("./img/security.png");
}

.wrap .center_cont .center_wrap .curriculum_info .info_box.box9:hover .icon9 {
    background-image: url("./img/BHoversecurity.png");
}

/*curriculum content end*/


/*notice content start*/

.wrap .bottom_cont {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
    border-top: 1px solid #999999;
}

.wrap .bottom_cont .title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.wrap .bottom_cont .board_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
}

.wrap .bottom_cont .board_wrap .notice_wrap {
    width: 32%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(91, 91, 91, 0.4);
}

.wrap .bottom_cont .board_wrap .notice_wrap .title_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
}

.wrap .bottom_cont .board_wrap .notice_wrap .title_wrap .title {
    font-size: 15px;
}

.wrap .bottom_cont .board_wrap .notice_wrap .title_wrap .more {}

.wrap .bottom_cont .board_wrap .notice_wrap .list_wrap {
    display: flex;
    flex-direction: column;
}

.wrap .bottom_cont .board_wrap .notice_wrap .list_wrap .list_item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #868686;
    margin: 10px 0;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.wrap .bottom_cont .board_wrap .notice_wrap .list_wrap .list_item:hover {
}

.wrap .bottom_cont .board_wrap .notice_wrap .list_wrap .list_item:hover .list_title {
    font-weight: bold;
}

.wrap .bottom_cont .board_wrap .notice_wrap .list_wrap .list_item .list_title {
    font-size: 15px;
}

.wrap .bottom_cont .board_wrap .notice_wrap .list_wrap .list_item .list_date {
    font-size: 13px;
    margin: 5px 0 10px 0;
    color: #868686;
}

/*notice content end*/


/*footer start*/

.wrap .footer_area {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #595959;
    padding: 0 50px 50px 50px;
}

.wrap .footer_area .logo_wrap {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.wrap .footer_area .logo_wrap > a > img {
    width: 100%;
}

.wrap .footer_area .footer_wrap {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap .footer_area .footer_wrap .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    flex: 1;
}

.wrap .footer_area .footer_wrap .footer_content .notice_wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-weight: bold;
}

.wrap .footer_area .footer_wrap .footer_content .notice_wrap > div {
    margin-right: 20px;
    font-size: 0.8em;
    color: black;
    cursor: pointer;
}

.wrap .footer_area .footer_wrap .footer_content .notice_wrap > div:hover {
    text-decoration: underline;
}

.wrap .footer_area .footer_wrap .footer_content .address {
    font-size: 12px;
    color: #595959;
}
.wrap .footer_area .footer_wrap > div > img {
    width: 100%;
}
.wrap .footer_area .footer_wrap > a > img {
    width: 100%;
}

/*footer end*/




/*반응형*/

@media (max-width: 800px)  {

    .main_side_padding {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .wrap .footer_area {
        padding: 0 10px 50px 10px;
    }
    .wrap .footer_area .logo_wrap {
        /*background-color: #999999;*/
        column-gap: 15px;
    }

    .wrap .center_cont .center_wrap .curriculum_wrap {
        width: 35%;
        margin-right: 10px;
    }

    .wrap .center_cont .center_wrap .curriculum_info {
        width: 65%;
    }

    .wrap .center_cont .center_wrap .curriculum_wrap .curri_text {
        font-size: 14px;
    }

    .wrap .center_cont .center_wrap .curriculum_info .info_box {
        padding: 5px 8px;
        height: 60px;
    }

    .wrap .center_cont .center_wrap .curriculum_info .info_box .icon_box {
        width: 40px;
    }

    .wrap .center_cont .center_wrap .curriculum_info .box_title {
        font-size: 14px;
    }




}